.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /*background-color: #333;*/
    padding: 20px;
    border-radius: 10px;

}


#crypto-table {
  width: 100%;
  border-collapse: collapse;
}

#crypto-table th,
#crypto-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: #424961;
}

#crypto-table th {
  background-color: #eef4fa;
}

#crypto-table tr:hover {
  background-color: #e6f1ff;
}

.wishlist-btn {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.wishlist-btn.active {
  color: red; /* Or any color to indicate that the item is in the wishlist */

}
.dynamic-name:hover{
color: blue;
}
.navbar {
    background-color: #333;
    overflow: hidden;
  }

  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Profile section styles */
  .profile-section {
    float: right;
    margin-right: 10px;
    position: relative; /* Add relative positioning */
}

.profile-section img {
    width: 40px;
    height: 25px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

  /* Dropdown content styles */
/*  #dropdown {*/
/*    display: block;*/
/*    position: absolute;*/
/*    background-color: #a71212;*/
/*    z-index: 1;*/
/*    right: 0;*/
/*    top: 100%; !* Position below the profile icon *!*/
/*}*/

/* Show dropdown on hover */


  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }

   /*Show dropdown on hover*/

  .profile-section:hover .dropdown-content {
      padding-right: 12px;
    display: block;
  }
