<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <style>
        body{
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        label{
            margin-left: 0;
        }
    </style>
</head>
<body>
<div class="container">
		<h1>ForgotPassword</h1>
		<form action="" method="post">
			{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send</button>
		</form>

		<div class="error">
		</div>
	</div>
</body>
</html>