<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coin Search</title>
{#    <link rel="stylesheet" href="../../static/css/styles.css">#}
    <link rel="stylesheet" href="../../static/css/news.css">
    <link rel="stylesheet" href="../../static/css/dashboard.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{#    <script src="../../static/script.js" defer></script>#}
</head>
<body>

    <div class="container">
        <div class="navbar">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Products</a>
            <a href="#">Contact</a>
        <select id="currencySelector">
            <option value="usd" selected>USD</option>
            <option value="cad">CAD</option>
            <option value="eur">EUR</option>
        </select>
<!--?{##}-->
<!--?{#        {% if user_log %}#}-->
<!--?{#            <p>Welcome, you are logged in!</p>#}-->
<!--?{#        {% else %}#}-->
<!--?{#            <p>You are not logged in.</p>#}-->
<!--?{#        {% endif %}#}-->

    <div class="profile-section">
    <div class="profile-section" style="position: relative;">
    <img src="../../static/person.svg" alt="Profile Image" id="profile-image">
    <div class="dropdown-content" id="dropdown" style="display: none; position: relative; background-color: #a71212; z-index: 1; width: 200px">

        {% if user_log %}
           <a href="{% url 'CryptoCrackers:profile' %}" style="width: 200px">{{user.username}}</a>
            <a href="{% url 'CryptoCrackers:logout' %}">Logout</a>
            <a id="dashboard-link">Dashboard</a>
        {% else %}
            <a id="login-link" style="width: 200px">Login / SignUp</a>
        {% endif %}

    </div>
    </div>
</div>

    </div>
        <header class="header">
            <h1>Cryptocurrencies</h1>
        </header>


        <table id="crypto-table">
  <thead>
    <tr>
       <!-- Empty header for the wishlist column -->
      <th>#</th>
        <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Change (24H)</th>
      <th>Market Cap</th>
      <th>Volume (24h)</th>
      <th>Circ. Supply</th>
    </tr>
  </thead>

            <tbody>
                {% for data in coins %}
                    <tr>
                    <td>{{ forloop.counter }}</td>
                    {% if data.name in wish_list %}
{#                        <td><a href="/remove_to_wishlist/{{ data.name }}"><button class="wishlist-btn" onclick="addToWishlist(this)">★</button></a></td>#}
                        <td><a href="/remove_to_wishlist/{{ data.name }}"><img src="../../static/icon2.png" style="width: 20px ; height: 20px"/> </a></td>
                    {% else %}
{#                        <td><a href="/add_to_wishlist/{{ data.name }}"><button class="wishlist-btn" onclick="addToWishlist(this)">☆</button></a></td>#}
                        <td><a href="/add_to_wishlist/{{ data.name }}"><img src="../../static/icon1.png" style="width: 20px ; height: 20px"/> </a></td>
                 {% endif %}


      <td style="font-weight:600;font-size: 16px" >
          <a href="/coins/{{ data.name }}" style="text-decoration: none;color: black"><img src="{{ data.image }}" alt="{{ data.symbol }}" width="30" height="30"> <span class="dynamic-name" style="position: relative;top: -9px">{{ data.name }}  <span style="color: #789;font-weight: normal;text-transform: uppercase ">{{ data.symbol }}</span></span></a></td>
      <td class="price price-usd">$ {{ data.current_price }}</td>
      <td class="price price-cad" style="display:none;">CAD {{ data.current_price_cad }}</td>
      <td class="price price-eur" style="display:none;">€ {{ data.current_price_eur }}</td>
       {% if data.price_change_percentage_24h > 0 %}
           <td style="color: green">+ {{data.price_change_percentage_24h}}%</td>
        {% else %}
           <td style="color: red">{{data.price_change_percentage_24h}}%</td>
         {% endif %}

      <td>{{ data.market_cap }}</td>
      <td>{{ data.total_volume }}</td>
      <td><span style="color: #789;font-weight: normal;text-transform: uppercase ">{{ data.symbol }}</span> {{ data.circulating_supply }}</td>
    </tr>


                {% endfor %}
            </tbody>
        </table>

    <div class="news-section">
        <h2><img src="../../static/news.svg" alt="news image">NEWS & UPDATES</h2>
        <div class="news-cards">
            <button id="prevBtn" ><img src="../../static/prev.png" alt="previous" style="width: 20px ; height: 20px"></button>

            {% for news_item in news %}
            <div class="news-card">
                <img src="../../{{ news_item.image.url}}" alt="{{ news_item.title }}">
                <h3>{{ news_item.title }}</h3>
                <p>{{ news_item.description }}</p>
{#                <a href="#">Read more</a>#}
            </div>
            {% endfor %}
            <button id="nextBtn" ><img  src="../../static/next.png" alt="next" style="width: 20px ; height: 20px"></button>

        </div>
    </div>

    </div>
    <script>
        $(document).ready(function () {
                $('#currencySelector').change(function () {
               var selectedCurrency = $(this).val().toLowerCase();
                console.log(selectedCurrency)
                $('.price').hide();

                $('.price-' + selectedCurrency).show();
            });


            // Add click events for profile options
            $("#profile-link").click(function () {
                alert("My Profile clicked");
            });

            $("#dashboard-link").click(function () {
                alert("Dashboard clicked");
            });

            $("#login-link").click(function () {
                window.location.href = "login"
            });
            const profileSection = document.querySelector(".profile-section");
    const dropdownContent = document.querySelector("#dropdown");

    // Show dropdown content on hover
    profileSection.addEventListener("mouseenter", function () {
        dropdownContent.style.display = "block";
    });

    // Hide dropdown content when mouse leaves the profile section
    profileSection.addEventListener("mouseleave", function () {
        dropdownContent.style.display = "none";
    });
        });
        document.addEventListener('DOMContentLoaded', function() {
    const newsContainer = document.getElementById('newsContainer');
    const prevButton = document.getElementById('prevBtn');
    const nextButton = document.getElementById('nextBtn');
    const newsCards = document.querySelectorAll('.news-card');
    const numberOfCards = 3; // Number of news cards to display at once
    let currentCard = 0;

    function showNewsCards(start) {
        for (let i = 0; i < newsCards.length; i++) {
            if (i >= start && i < start + numberOfCards) {
                newsCards[i].style.display = 'block';
            } else {
                newsCards[i].style.display = 'none';
            }
        }
    }

    // Initially show the first set of news cards
    showNewsCards(currentCard);

    prevButton.addEventListener('click', function() {
        if (currentCard > 0) {
            currentCard -= 1;
            showNewsCards(currentCard);
        }
    });

    nextButton.addEventListener('click', function() {
        if (currentCard + numberOfCards < newsCards.length) {
            currentCard += 1;
            showNewsCards(currentCard);
        }
    });
});
const wishlistButtons = document.querySelectorAll('.wishlist-btn');

// Add click event listener to each button
wishlistButtons.forEach(button => {
  button.addEventListener('click', function() {
    // Toggle the 'active' class on click
    button.classList.toggle('active');
    // Change the star character if needed
    if (button.classList.contains('active')) {
      button.textContent = '★'; // Filled star character
    } else {
      button.textContent = '☆'; // Empty star character
    }
  });
});
    </script>
</body>
</html>
