<html>
  <head>
    <link rel="stylesheet" href="../../static/css/landing.css">
  </head>
  <body>
    <div id="main">
      <div id="box1"></div>
      <div id="box2">
        <div id="text">
          CryptoCrackers
          <p>Explore the world of cryptocurrency with cryptocrackers. You are just a click away to dive into the world</p>
          <a href="{% url 'CryptoCrackers:index' %}" class="get-started-button">Get Started</a>

        </div>

      </div>

      <div id="box3">
        <div id="container">
          <div id="logo">
            <img src="../../static/t2.png" alt="">
          </div>
          <div id="menu">
            <ul>
              <li><a  href="{% url 'CryptoCrackers:index' %}" style="">Home</a></li>
              <li><a  href="{% url 'CryptoCrackers:login' %}" style="">Login</a></li>
              <li><a  href="{% url 'CryptoCrackers:signup' %}" style="">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </body>
</html>