<html>
  <head>
    <link rel="stylesheet" href="../../static/css/landing.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
  </head>
  <body>
    <div id="main">
      <div id="box1"></div>
      <div id="box2">
        <div id="text">
          CryptoCrackers
          <p>Explore the world of cryptocurrency with cryptocrackers. You are just a click away to dive into the world</p>
          <a href="{% url 'CryptoCrackers:index' %}" class="get-started-button">Get Started</a>

        </div>

      </div>

      <div id="box3">
        <div id="container">
          <div id="logo">
            {% comment %} <img src="../../static/CryptoCrackersLogo.png" alt="" width="120px" height="40px"> {% endcomment %}
          </div>
          <div id="menu">
            <ul>
              <li><a  href="{% url 'CryptoCrackers:index' %}" style="text-decoration: none">Home</a></li>
              <li><a  href="{% url 'CryptoCrackers:login' %}" style="text-decoration: none">Login</a></li>
              <li><a  href="{% url 'CryptoCrackers:signup' %}" style="text-decoration: none">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </body>
</html>