<!--?{% load socialaccount %}-->
<!--?{#<!DOCTYPE html>#}-->
<!--?{#<html>#}-->
<!--?{#<head>#}-->
<!--?{#	<title>Login Page</title>#}-->
<!--?{#	<link rel="stylesheet" href="../../static/css/style.css">#}-->

<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="../../static/css/style.css">
</head>

<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Welcome Back</h1>
		<p>Securely manage your cryptocurrencies and explore the world of blockchain technology.</p>
		<span>
			<p>login with social media</p>
			<a href="{% provider_login_url "google" %}">Google</a>
		</span>
		</div>
	</div>


		<div class="right">
		<h5>Login</h5>
		<p>Don't have an account? <a href="http://localhost:8000/signup">Creat Your Account</a> it takes less than a minute</p>
            <form action="" method="post">
        {% csrf_token %}
                <div class="inputs">
        {{ form.as_p }}
                    </div>
        <div class="remember-me--forget-password">
            <button type="submit">Login</button>
            <a href="{% url 'CryptoCrackers:send_forgotpassword_mail' %}">Forgot Password</a>
        </div>

            </form>


			<br><br>
	</div>

</div>
