<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
	<div class="container">
		<h1>Login</h1>
		<form action="" method="post">
			{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
		</form>
        <div class="signup">
			<p>Don't have an account? <a href="http://localhost:8000/signup">Sign up</a></p>
		</div>
		<div class="error">
		</div>
	</div>
</body>
</html>
