<!DOCTYPE html>
<html>
<head>
    <title>Your Portfolio</title>
</head>
<body>

<h1>Your Portfolio</h1>

{% if crypto_data %}
    <div>
        <img src="data:image/png;base64,{{ chart_image_base64 }}" alt="Pie Chart">
    </div>
    <p>Total Amount: ${{ total_amount }}</p>
    <table>
        <thead>
            <tr>
                <th>Cryptocurrency</th>
                <th>Current Price</th>
                <th>Quantity</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for crypto in crypto_data %}
                <tr>
                    <td>{{ crypto.name }}</td>
                    <td>${{ crypto.current_price }}</td>
                    <td>{{ crypto.quantity }}</td>
                    <td>${{ crypto.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    

{% else %}
    <p>No cryptocurrency data available.</p>
{% endif %}

</body>
</html>
