<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    
    <button type="submit">Submit</button>
</form>

<table>
    <thead>
        <tr>
            <th>Action</th>
            <th>Coin</th>
            <th>Quantity</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.get_action_display }}</td>
                <td>{{ transaction.coin }}</td>
                <td>{{ transaction.quantity }}</td>
                <td>{{ transaction.result }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


</body>
</html>