<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>My Profile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="../../static/css/profile.css">
    <style>

       th, td {
    text-align: left;
}


    </style>

    <script>

        window.addEventListener('load', function(event) {
            event.preventDefault();

            var sections = ["profile-details", "account-security","wishlist","add-money","purchase-currency", "transaction-history", "purchase-history"];
            var sectionId = "{{ id|escapejs }}";
            {#var sectionId = {{ id }}#}


            sections.forEach((i)=>{
                element = document.getElementById(i);
                console.log("element: ",element)
                element.style.display = "none";
            })

            document.getElementById(sectionId).style.display = 'block';
            {#window.location.href = "{% url 'CryptoCrackers:add_money' %}"#}

              // Use the |escapejs filter to escape special characters
            {#console.log("User:", username);#}

        });
        // Function to toggle the visibility of sections

        function accountSecurity() {
            var sections = ["profile-details", "account-security","wishlist","add-money","purchase-currency","sell", "transaction-history", "purchase-history"];


            sections.forEach((index)=>{
                document.getElementById(index).style.display = "none"

            })



            document.getElementById('account-security').style.display = "block"
        }



         function confirmDelete(){
            var confirmation = confirm("Are you sure you want to delete your account? This action is irreversible.");
            if (confirmation)
                document.getElementById('delete-account-form').submit();

         }

    </script>
</head>
<body>
<header>
    <!-- Your website header content here -->
</header>
<nav>
    <!-- Your website navigation menu here -->
</nav>
<main>
    <div class="profile-container">
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'CryptoCrackers:index' %}" >Back to Home</a></li>
                <li><a href="{% url 'CryptoCrackers:profile' %}" >Profile Details</a></li>
                <li><a  href="{% url 'CryptoCrackers:acc_sec' %}" >Account Security</a></li>
                <li><a href="{% url 'CryptoCrackers:wishlist' %}" >Wishlist</a></li>
                <li><a href="{% url 'CryptoCrackers:add_money' %}" >Add Money to Wallet</a></li>
                <li><a href="{% url 'CryptoCrackers:purchase_currency' %}" >Purchase Crypto Currency</a></li>
                <li><a href="{% url 'CryptoCrackers:sell_crypto' %}" >Sell Crypto Currency</a></li>
                <li><a href="{% url 'CryptoCrackers:transaction_list' %}" >Transaction History</a></li>
                <li><a href="{% url 'CryptoCrackers:purchasehistory_list' %}" >Purchase History</a></li>

            </ul>
        </div>
        <div class="content">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li
                {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}


            <div id="profile-details" style="display: block;">
                <h1>Profile Details</h1>
                <h1>{{ UserDetails.username }}</h1>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    
                
                     <div class="form-group">
                        <label for="id_image">Upload ID Image:</label>
                        <input type="file" value="{{ user.id_image.name }}" id="id_image" name="id_image" accept="image/*">
                                {% if user.id_image %}
                                    <p style="color: #4CAF50">ID verified successfully. You can proceed to buying and selling of currency</p>
                                {% else %}
                                    <p>Please upload id for verification to start Trading</p>
                                {% endif %}

                    </div>
                    <button class="save-button" type="submit">Save</button>
                </form>
            </div>

            <div id="account-security" style="display: none;">
                <h1>Account Security</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {% if not google %}
                        {{ form.as_p }}
                        <button class="save-button" type="submit">Change Password</button>
                    {% else %}
                        <p>You cant change password since you logged in using google</p>
                    {% endif %}
                    <p style="color: green">{{ message }}</p>
                    <p style="color: red">{{ err_message }}</p>

{#                    <p>{{ error }}</p>#}
                </form>


                <h2>Delete Account</h2>
                <p>Deleting your account is irreversible and will remove all your data.</p>
                <form action="{% url 'CryptoCrackers:delete_account' %}" method="post">
                    {% csrf_token %}
                    <button class="delete-button" onclick="confirmDelete()" type="submit">Delete Account</button>
                </form>
            </div>

            <div id="wishlist" style="display: none;">
    <h1>Wishlist</h1>
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th><span>Coin Image</span></th>
                <th>Coin Name</th>
                <th>Price Change (24h)</th>
                <th>Current Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for wishlist_item in wish_list %}
                {% for crypto_detail in cyrpto_details %}
                    {% if crypto_detail.name == wishlist_item %}
                        <tr style="background-color: {% cycle '#f2f2f2' '#e6e6e6' %};">
                            <td class="tdTag">
                                <img src="{{ crypto_detail.image }}" style="width: 30px; height: 30px;" alt="Coin Image">
                            </td>
                            <td>
                                <p><a href="{% url 'CryptoCrackers:dynamic_crypto' coin_name=wishlist_item %}">
                                  {{ wishlist_item }}
                                </a></p>

                            </td>

                            <td style="color: {% if crypto_detail.price_change_percentage_24h < 0 %}red{% else %}green{% endif %};">
                                {{ crypto_detail.price_change_percentage_24h }}%
                            </td>
                            <td class="tdTag"> {{ crypto_detail.current_price }}</td>
                            <td>
                                <a href="remove_to_wishlist/{{ wishlist_item }}">
                                    <img src="../../static/icon2.png" style="width: 35px;height: 35px" alt="Remove" title="Remove from Wishlist">
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
                                    <div id="transaction-history" style=" display: none;">
                <h1>Transactions</h1>
                <table id="transaction-table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Amount</th>
                            <th>Timestamp</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.user.username }}</td>
                            <td>{{ transaction.amount }}</td>
                            <td>{{ transaction.timestamp }}</td>
                          
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
            <div id="purchase-history" style="display: none">
                <h1>Purchase History</h1>

                <table id="purchase-table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Crypto Currency</th>
                            <th>Quantity</th>
                            <th>Total Amount</th>
                            <th>Timestamp</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for history in history %}
                        <tr>
                            <td>{{ history.user.username }}</td>
                            <td>{{ history.cryptocurrency }}</td>
                            <td>{{ history.quantity }}</td>
                            <td>{{ history.total_amount }}</td>
                            <td>{{ history.timestamp }}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="add-money" style=" display: none;">
                  <h1>Add money to Wallet</h1>
                  <p>Available Balance: ${{ balance }}</p>
                  <form method="post" id="addmoney">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="save-button" type="submit">Add Money</button>
                  </form>
            </div>

            <div id="purchase-currency" style="display: none;">
                  <h1>Purchase Crypto Currency</h1>
                  <p>Available Balance: ${{ balance }}</p>
                {% if user.id_image%}
                    <form method="post" id="purchaseForm">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="save-button" type="button" onclick="calculateTotal()">Calculate Total</button>
                        <p>Total Amount: $<span id="totalAmount">0.00</span></p>
                        <button class="save-button" type="submit">Purchase</button>
                    </form>
                {% else %}
                    <p style="color: red;">Please upload a valid ID image before purchasing cryptocurrency.</p>
                {% endif %}
            </div>

            <div id="sell" style="display: none;">
                <h1>Sell Crypto Currency</h1>
                {% if user.id_image%}
                    <form method="post" id="sell-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="save-button" type="submit">Sell</button>
                    </form>
                {% else %}
                    <p style="color: red;">Please upload a valid ID image before purchasing cryptocurrency.</p>
                {% endif %}
            </div>

            <script>

                const cryptoChoices = JSON.parse('{{ crypto_choices_json|escapejs }}');

                function calculateTotal() {
                    const form = document.getElementById('purchaseForm');

                    // Use the name attribute to select the elements
                    const selectedCrypto = form.elements['cryptocurrency'];
                    const quantityInput = form.elements['quantity'];

                    // Check if the elements exist and continue with calculations
                    if (selectedCrypto && quantityInput) {
                        const selectedIndex = selectedCrypto.selectedIndex;

                        if (selectedIndex !== -1) {
                            const cryptoPrice = parseFloat(cryptoChoices[selectedIndex-1].price);
                            const quantity = parseFloat(quantityInput.value);

                            console.log('cryptoPrice:', cryptoPrice);
                            console.log('quantity:', quantity);

                            if (!isNaN(quantity)) {
                                const totalAmount = cryptoPrice * quantity;
                                console.log('totalAmount:', totalAmount);
                                document.getElementById('totalAmount').innerText = totalAmount.toFixed(2);
                            } else {
                                alert('Please enter a valid quantity.');
                            }
                        } else {
                            alert('Please select a cryptocurrency.');
                        }
                    }
                }


                  document.getElementById("purchaseForm").addEventListener("submit", function (event) {
                      event.preventDefault(); // Prevent the default form submission

                      // Use AJAX to submit the form data to your Django view
                        const formData = new FormData(document.getElementById("purchaseForm"));

                        fetch("{% url 'CryptoCrackers:purchase_currency' %}", {
                            method: "POST",
                            body: formData,
                        })
                        .then(response => response.json())
                        .then(data => {
                            // Display the message in a popup
                            if (data.success) {
                                alert("Purchase successful.");
                                // Optionally, reset the form
                                document.getElementById("purchaseForm").reset();
                            } else {
                                alert("Insufficient balance to make the purchase.");
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                    
                        });
                  });


                document.getElementById("sell-form").addEventListener("submit",  function (event) {
                    event.preventDefault();

    
                    const formData = new FormData(document.getElementById("sell-form"));

                        fetch("{% url 'CryptoCrackers:sell_crypto' %}", {
                            method: "POST",
                            body: formData,
                        })
                        .then(response => response.json())
                        .then(data => {
                        
                            if (data.success) {
                                alert("Sell successful.");
                            
                                document.getElementById("sell-form").reset();
                            } else {
                                alert("Trying to sell more quantity of coin compared to what you have");
                                document.getElementById("sell-form").reset();

                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                });
            </script>

     </div>
    </div>

</main>
<footer>

</footer>
</body>
</html>
