<!DOCTYPE html>
<html>
<head>
	<title>Signup Page</title>
	<link rel="stylesheet" href="../../static/css/stylesign.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

</head>
<body>
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>Join Us</h1>
                <br><br>
                <p>Securely manage your account by signing up.</p>
            </div>
        </div>


		<div class="right">
		<h3>Sign Up</h3>
		<p>Already have an account? <a href="{% url 'CryptoCrackers:login' %}">Sign In to your account</a></p>
        <form action="" method="post">
                    {% csrf_token %}

        <div class="inputs">
            {{ form }}
        </div>

        <div class="remember-me--forget-password">
            <button type="submit">Sign Up</button>
        </div>
            </form>

			<br><br>
	</div>

</div>
</body>
</html>