<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<div class="container">
		<h1>Change Password</h1>
		<form action="" method="post">
			{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">ChangePassword</button>
		</form>
{#<form method="post">#}
{#    {% csrf_token %}#}
{#                <input type="email" name="email" id="email">#}
{#    <br>#}
{#    <label for="email">Email:</label>#}
{#                <button type="submit">Send Email</button>#}
{#</form>#}
		<div class="error">
		</div>
	</div>
</body>
</html>